<!DOCTYPE html>
<html>

  <head>
    {% include 'menu.html' %}
    </head>
<body>
<h1><p style="color:black;font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Stephen Brennan <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" height="30px" width="30px"><a href="https://github.com/trentsteel777/">Github.com/TrentSteel777</a></p></h1>
<h1><p style="color:black;font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;David Fagan <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" height="30px" width="30px"><a href="https://github.com/FaganDavid/">Github.com/FaganDavid</a></p></h1>
<h1><p style="color:black;font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cristina Blanco <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" height="30px" width="30px"><a href="https://github.com/Cblancoc/">Github.com/Cblancoc</a></p></h1>
<br><br>
<h1><p style="color:black;font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" height="30px" width="30px"><a href="https://github.com/faganDavid/image-colorizer">IMAGE COLORIZER GITHUB</a></p></h1>

</body>
</html>