<div class="jp-Cell-inputWrapper">
    <div class="jp-InputPrompt jp-InputArea-prompt">
    </div>
    <div class="jp-RenderedHTMLCommon jp-RenderedMarkdown jp-MarkdownOutput " data-mime-type="text/markdown">
        <h1 id="predictionHeader">Some of the images predicted by our models:<a class="anchor-link" href="#predictionHeader">&#182;</a></h1>
        <h4>Order is as follows; original on the left, next is grayscale, prediction from model trained on 10K images, prediction from model trained on 30K images. </h4>
    </div>
</div>

<div class="jp-Cell-inputWrapper">
    <div class="jp-InputPrompt jp-InputArea-prompt">
    </div>
    <div class="jp-RenderedHTMLCommon jp-RenderedMarkdown jp-MarkdownOutput " data-mime-type="text/markdown">
        <p><img src="../static/images/model_comparision_10K_VS_30K_boat.png"></p>
    </div>
</div>
<div class="jp-Cell-inputWrapper">
    <div class="jp-InputPrompt jp-InputArea-prompt">
    </div>
    <div class="jp-RenderedHTMLCommon jp-RenderedMarkdown jp-MarkdownOutput " data-mime-type="text/markdown">
        <p><img src="../static/images/model_comparision_10K_VS_30K_castle.png"></p>
    </div>
</div>
<div class="jp-Cell-inputWrapper">
    <div class="jp-InputPrompt jp-InputArea-prompt">
    </div>
    <div class="jp-RenderedHTMLCommon jp-RenderedMarkdown jp-MarkdownOutput " data-mime-type="text/markdown">
        <p><img src="../static/images/model_comparision_10K_VS_30K_city.png"></p>
    </div>
</div>
<div class="jp-Cell-inputWrapper">
    <div class="jp-InputPrompt jp-InputArea-prompt">
    </div>
    <div class="jp-RenderedHTMLCommon jp-RenderedMarkdown jp-MarkdownOutput " data-mime-type="text/markdown">
        <p><img src="../static/images/model_comparision_10K_VS_30K_dog.png"></p>
    </div>
</div>
<div class="jp-Cell-inputWrapper">
    <div class="jp-InputPrompt jp-InputArea-prompt">
    </div>
    <div class="jp-RenderedHTMLCommon jp-RenderedMarkdown jp-MarkdownOutput " data-mime-type="text/markdown">
        <p><img src="../static/images/model_comparision_10K_VS_30K_fishing.png"></p>
    </div>
</div>
<div class="jp-Cell-inputWrapper">
    <div class="jp-InputPrompt jp-InputArea-prompt">
    </div>
    <div class="jp-RenderedHTMLCommon jp-RenderedMarkdown jp-MarkdownOutput " data-mime-type="text/markdown">
        <p><img src="../static/images/model_comparision_10K_VS_30K_fruit.png"></p>
    </div>
</div>
<div class="jp-Cell-inputWrapper">
    <div class="jp-InputPrompt jp-InputArea-prompt">
    </div>
    <div class="jp-RenderedHTMLCommon jp-RenderedMarkdown jp-MarkdownOutput " data-mime-type="text/markdown">
        <p><img src="../static/images/model_comparision_10K_VS_30K_hinduism.png"></p>
    </div>
</div>
<div class="jp-Cell-inputWrapper">
    <div class="jp-InputPrompt jp-InputArea-prompt">
    </div>
    <div class="jp-RenderedHTMLCommon jp-RenderedMarkdown jp-MarkdownOutput " data-mime-type="text/markdown">
        <p><img src="../static/images/model_comparision_10K_VS_30K_ireland.png"></p>
    </div>
</div>
<div class="jp-Cell-inputWrapper">
    <div class="jp-InputPrompt jp-InputArea-prompt">
    </div>
    <div class="jp-RenderedHTMLCommon jp-RenderedMarkdown jp-MarkdownOutput " data-mime-type="text/markdown">
        <p><img src="../static/images/model_comparision_10K_VS_30K_lion.png"></p>
    </div>
</div>
<div class="jp-Cell-inputWrapper">
    <div class="jp-InputPrompt jp-InputArea-prompt">
    </div>
    <div class="jp-RenderedHTMLCommon jp-RenderedMarkdown jp-MarkdownOutput " data-mime-type="text/markdown">
        <p><img src="../static/images/model_comparision_10K_VS_30K_parrots.png"></p>
    </div>
</div>