<!DOCTYPE html>

<html>

<head>
{% include 'menu.html' %}
</head>
<body>
<h1><p style="color:black">Upload a Grayscale Image to Colorize</p></h1>
</body>
<canvas id="myCanvas" width="300" height="300" style="z-index: 1;">
        Your browser does not support the HTML canvas tag.</canvas>
    <form method="POST" enctype="multipart/form-data">
        <img id="grayScaleImg" src="#" alt="your image" />
        <input type="file" name="file" onchange="readURL(this);">
        <button type="submit" role="button"  >Upload File</button>
    </form>


<script src="{{ url_for('static', filename='upload.js') }}"></script>
</body>
</html>