<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset=utf-8 />

<link rel="stylesheet" href="../static/css/header.css">
<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>


<div class="topnav">
  <a class="active" href="http://127.0.0.1:5000/">Home</a>
  <a href="http://127.0.0.1:5000/info">Infographics</a>
  <a href="http://127.0.0.1:5000/examples">Examples</a>
  <a href="http://127.0.0.1:5000/authors">Authors</a>
</div>
